.main-content {
  margin-top: 32px;
  margin-bottom: 32px;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-profile {
  display: flex;
  gap: 20px;
}

.user-info h2 {
  color: #e1e1e6;
  font-size: 1rem;
}

.user-info span {
  color: #00b37e;
  font-size: 0.75rem;
  font-weight: 400;
  margin-left: 11px;
  position: relative;
}

.user-info span::before {
  content: "";
  background: #00b37e;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 3px;
  left: -10px;
  position: absolute;
}

.message-time {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #acacaf;
  font-size: 0.75rem;
  font-weight: 400;
}

/* message chat */
.message {
  display: grid;
  margin-bottom: 80px;
}

.message span {
  color: #acacaf;
  font-size: 0.75rem;
  font-weight: 400;
}

.message .text {
  border-radius: 0px 8px 8px 8px;
  max-width: max-content;
  background: #633bbc;
  padding: 14px;
  margin-top: 10px;
}

.message .text-2 {
  border-radius: 8px 8px 0px 8px;
  max-width: max-content;
  background: #07847e;
  padding: 14px;
  margin-top: 10px;
}

.message-received {
  margin-bottom: 40px;
}

.message-sent {
  display: grid;
  justify-content: end;
}

.message-sent span {
  text-align: end;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background: #282843;
  border-radius: 999px;
  padding: 14px 24px;
}

.input-wrapper input {
  flex: 1;
  outline: none;
  color: #e1e1e6;
}

.input-wrapper:focus-within {
  outline: 2px solid white;
}

.input-wrapper input::placeholder {
  color: #acacaf;
  font-size: 0.75rem;
}

.input-wrapper button i {
  color: #e1e1e6;
  font-size: 1.5rem;
  cursor: pointer;
}

input,
button {
  background-color: transparent;
  border: none;
}

/* Responsive */

@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
  .message .text {
    width: fit-content;
    max-width: 80ch;
  }
}

@media (max-width: 900px) {
  .message .text {
    width: fit-content;
    max-width: 50ch;
  }
}

@media (max-width: 600px) {
  .message .text,
  .message .text-2 {
    font-size: 0.8rem;
  }
  .main-content {
    margin: 24px 32px;
  }
  .message {
    margin-bottom: 40px;
  }
  .message .text {
    width: fit-content;
    max-width: fit-content;
  }
}
