* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background: #1a1924;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
